body {
    width: 40vw;
    margin: auto;
    background-color: rgb(105, 101, 101);
}

h1 {
    color: blue;
    text-align: center;
    font-size: 30px;
}

.substit {
    text-align: center;
    color: rgb(221, 232, 18);
}

p {
    text-align: center;
    color: rgb(67, 29, 102);
    font-size: 17px;
}

.paragraf {
    text-align: justify;
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#text1 {
    color: rgb(18, 222, 62);
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    font-weight: 500;
    text-align: justify;
}

#text2 {
    color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
}

#text3 {
    color: darksalmon;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    font-weight: 300;
    text-align: justify;
}