
body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

h1 { 
    color:red;
    text-decoration: underline;
    font-size: 33px;
    text-align: left;
    letter-spacing: 2px;
}

h2 {
    color: blue;
    letter-spacing: 2;
    font-size: 20px;
}

p {
    font-size: 14px;
    color: brown;
    text-indent: 3;
    line-height: 2;
}

li {
    color: greenyellow;
    font-size: 30;
}