body{
    width: 40vw;
    margin: auto;
}

h1.destinos{
    color: rgb(44, 62, 80);
    background-color: rgb(236, 240, 241);
    text-align: center;
    size: 100em;
}

#lugares{
    color: ;
    background-color: ;

}