body{
    width: 40vw;
    margin: auto;
}

h1{
    background-color: lightskyblue;
    color: blue;
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: justify;
}

#subtit1{
    background-color: lightcoral;
    color: red;
}

#subtit{
    background-color: lightcoral;
    color: red;
}

#text{
    background-color: lightslategray;
    color: rgb(61, 60, 60);
}