h1 {
    font-size: 24px;
    color: rgb(213, 19, 19);
    text-align: center;
    background-color: rgb(219, 219, 177);
    text-align: center;
}

p {
    font-size: 16px;
    color: green;
    text-align: justify;
}

#umc{
    color: palevioletred;
    background-color: pink;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

#paragraf1{
    color: rgb(27, 173, 206);
    font-size: 19;
    font-style: italic;
}

#paragraf2{
    color: rgb(89, 205, 87);
    font-size: 19px;
    font-style: italic;
}

#paragraf3{
    color:rgb(255, 14, 14);
    font-size: 19px;
    font-style: italic;
}

#text1{
    font-size: 16px;
    color: rgb(248, 37, 255);
    text-align: justify;
}

#text2{
    font-size: 16px;
    color: rgb(53, 176, 34);
    text-align: justify;
}

#text3{
    font-size: 16px;
    color: rgb(255, 174, 25);
    text-align: justify;
}