table{
    border-collapse: collapse;
    width: 60vw;
}

td, th{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

th{
    background-color: gray;
}

th:nth-child(even){
    background-color: gray;
}